__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/
build/
dist/
.eggs/
*.egg-info/
.python-version
instance/
.webassets-cache
.pytest_cache/
.cache
.git
.gitignore
.vscode
*.sqlite3
logs/
.env
